{% block content %}

<div>
  <h2>Flight Detail</h2>
  <div>
    <!-- Add other flight details here -->
    <div>
      <div>
        <p><strong>Flight Number:</strong> {{ flight_detail.flight_number }}</p>
        <p><strong>Origin:</strong> {{ flight_detail.origin.city_name }}</p>
        <p>
          <strong>Destination:</strong> {{ flight_detail.destination.city_name}}
        </p>

        <p><strong>Flight Date:</strong>{{flight_detail.date}}</p>
        <p><strong>Arrival Time:</strong>{{flight_detail.departure_time}}</p>
        <p><strong>Departure time:</strong>{{flight_detail.departure_time}}</p>
        <p><strong>Airplane Model:</strong>{{flight_detail.airplane.model}}</p>
        <p>
          <strong>Airplane Serial Number:</strong
          >{{flight_detail.airplane.serial_number}}
        </p>
        <p><strong>Pliot 1:</strong>aex</p>
        <p><strong>Pilot 2</strong>Fck</p>
      </div>

      <!-- Add other flight details here -->
    </div>
  </div>
</div>

{% endblock %}
