<form action="{% url 'passenger_edit' pk %}" method="post">
  {% csrf_token %}
  <!-- Render each form field manually -->

  <div class="form-group">
    <label for="id_flight_number">Email:</label>
    {{ form.email }}
  </div>
  <div class="form-group">
    <label for="id_origin">First Name:</label>
    {{ form.first_name }}
  </div>
  <div class="form-group">
    <label for="id_destination">Last Name:</label>
    {{ form.last_name }}
  </div>
  <div class="form-group">
    <label for="id_airplane">Phone:</label>
    {{ form.phone }}
  </div>
  <div class="form-group">
    <label for="id_airplane">Address:</label>
    {{ form.address }}
  </div>

  <button type="submit">Submit</button>
</form>
